WAKU_PUBLIC_BACKEND_URL="http://localhost:8000"
SECRET_KEY="coloque-uma-chave-secreta-aqui"
DEBUG=True
ALLOWED_HOSTS="localhost,127.0.0.1"
CORS_ALLOWED_ORIGINS="http://localhost:3000"
CSRF_TRUSTED_ORIGINS="http://localhost:3000"
DATABASE_URL="sqlite:///apps/backend/db.sqlite3"
# Se estiver em producao, colocar como True
SESSION_COOKIE_SECURE=False
